# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar

# VSCODE project files
.vscode/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
install/.DS_Store
.DS_Store
doc/license.xml
install/photonfileviewer.xml
install/photonfileviewer.xml.backup
install/test-photonviewer.xml
install/test-photonviewer.xml.backup
jre10/
jre8/
release/
/target/
